<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Fragments</title>
    <style>
        footer {
            padding: 20px 0;
            background-color: #f8f9fa;
            border-top: 1px solid #e9ecef;
        }
        .container {
            width: 90%;
            margin: 0 auto;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:fragment="modal">
    <div id="languageModal" class="popup hidden">
        <div class=" bg-white mx-auto  border my-5 border-gray-400  max-w-lg text-center  rounded-lg shadow-md p-4">
            <span class="cursor-pointer float-right text-gray-700 hover:text-gray-400  text-2xl" onclick="closeAddPopup()">&times;</span>
            <div class="flex flex-col bg-white  rounded-xl pointer-events-auto divide-y divide-gray-200">
                <h2 class="text-lg font-semibold py-4 " th:text="#{message.chooseLanguage}" ></h2>
                <div class="text-center  py-4">
                    <div th:if="${isAllProjectsPage}">
                        <a th:href="@{/projects/allProjects(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/projects/allProjects(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isAllResourcesPage}">
                        <a th:href="@{/resources/allResources(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/resources/allResources(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isAllDepartmentsPage}">
                        <a th:href="@{/web/allDepartments(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/web/allDepartments(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isCreateDepartmentPage}">
                        <a th:href="@{/web/createDepartment(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/web/createDepartment(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isAllSkillsPage}">
                        <a th:href="@{/web/allSkills(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/web/allSkills(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isCreateSkillPage}">
                        <a th:href="@{/web/createSkill(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/web/createSkill(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isAllCustomerPage}">
                        <a th:href="@{/customer/allCustomers(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/customer/allCustomers(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isAllEmployeesPage}">
                        <a th:href="@{/web/allEmployees(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/web/allEmployees(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">Deutsch</a>
                    </div>
                    <div th:if="${isAllEmployeesSearchPage}">
                        <a th:href="@{/web/search/name(name=${name}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/web/search/name(name=${name}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">Deutsch</a>
                    </div>
                    <div th:if="${isAllEmployeesDepartmentPage}">
                        <a th:href="@{/web/search/department(department=${department}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/web/search/department(department=${department}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">Deutsch</a>
                    </div>
                    <div th:if="${isAllTasksPage}">
                        <a th:href="@{/tasks/allTasks/{id}(id=${projectId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/tasks/allTasks/{id}(id=${projectId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">Deutsch</a>
                    </div>
                    <div th:if="${isAllPostsPage}">
                        <a th:href="@{/posts/allPosts/{id}(id=${projectId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/posts/allPosts/{id}(id=${projectId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">Deutsch</a>
                    </div>
                    <div th:if="${isAllPostsEmployeePage}">
                        <a th:href="@{/posts/allPostsEmployee/{id}(id=${projectId}, employeeId=${employeeId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/posts/allPostsEmployee/{id}(id=${projectId}, employeeId=${employeeId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllTasksPostsPage}">
                        <a th:href="@{/posts/allTasksPosts/{id}(id=${taskId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/posts/allTasksPosts/{id}(id=${taskId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isCreateCustomerPage}">
                        <a th:href="@{/customer/createCustomer(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/customer/createCustomer(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isCreateEmployeePage}">
                        <a th:href="@{/web/employees(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/web/employees(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isCreateProjectPage}">
                        <a th:href="@{/projects/createProject(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/projects/createProject(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isCreateResourcePage}">
                        <a th:href="@{/resources/createResource(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/resources/createResource(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isCreateTaskPage}">
                        <a th:href="@{/tasks/createTask/{id}(id=${projectId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/tasks/createTask/{id}(id=${projectId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>
                    <div th:if="${isInfoEmployeePage}">
                        <a th:href="@{/web/infoEmployee/{id}(id=${employeeId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >English</a>
                        <a th:href="@{/web/infoEmployee/{id}(id=${employeeId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" >Deutsch</a>
                    </div>

                    <div th:if="${isEmployeeProjectsPage}">
                        <a th:href="@{/web/EmployeeProjects/{id}(id=${employeeId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/EmployeeProjects/{id}(id=${employeeId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isEmployeeTasksPage}">
                        <a th:href="@{/web/EmployeeTasks/{id}(id=${projectId}, employeeId=${employeeId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/EmployeeTasks/{id}(id=${projectId}, employeeId=${employeeId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>

                    <div th:if="${isSuccessLoginPage}">
                        <a th:href="@{/web/successLogin(locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">English</a>
                        <a th:href="@{/web/successLogin(locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md">Deutsch</a>
                    </div>
                    <div th:if="${isSuccessLoginUserPage}">
                        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId}, locale='en')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId}, locale='de')}" class="text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white py-2 px-4 rounded-md" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="header">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4">
        <a th:href="@{/web/successLogin}" class="icon">
            <i class="fa-solid fa-house fa-xl"></i>
        </a>
        <a th:href="@{/login?logout}" class="icon">
            <i class="fa-solid fa-right-from-bracket fa-xl" ></i>
        </a>
        <a href="/reports/employees/pdf" class="icon">
            <i class="fa-solid fa-print fa-xl "></i>
        </a>
        <a th:if="${isAllCustomerPage}" th:href="@{/map/allCustomers}" class="icon">
            <i class="fa-solid fa-map-location-dot fa-xl" ></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>

<div th:fragment="header1">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4 ">
        <a th:href="@{/login?logout}" class="icon" >
            <i class="fa-solid fa-right-from-bracket fa-xl"></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header2">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4 ">
        <a th:href="@{/projects/allProjects}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl"></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header3">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4 ">
        <a th:href="@{/tasks/allTasks/{id}(id=${projectId})}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header4">
    <div  class="mx-4 mt-4 flex items-center space-x-4 ">
        <a th:href="@{/customer/allCustomers}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl"></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header5">
    <div  class="mx-4 mt-4 flex items-center space-x-4 ">
        <a th:href="@{/resources/allResources}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="departmentHeader">
    <div class="mx-4 mt-4 flex items-center space-x-4 ">
        <a th:href="@{/web/allDepartments}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="skillHeader">
    <div class="mx-4 mt-4 flex items-center space-x-4 ">
        <a th:href="@{/web/allSkills}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>

<div th:fragment="headerUser">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4 ">
        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId})}" class="icon">
            <i class="fa-solid fa-house fa-xl"></i>
        </a>
        <a th:href="@{/login?logout}" class="icon" >
            <i class="fa-solid fa-right-from-bracket fa-xl" ></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="headerUser1">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4 ">
        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId})}" class="icon">
            <i class="fa-solid fa-house fa-xl"></i>
        </a>
        <a th:href="@{/login?logout}" class="icon">
            <i class="fa-solid fa-right-from-bracket fa-xl" ></i>
        </a>
        <a href="/reports/employees/pdf" class="icon">
            <i class="fa-solid fa-print fa-xl " ></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>

<div th:fragment="headerUser2">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4 ">
        <a th:href="@{/web/EmployeeProjects/{id}(id=${employeeId})}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl "></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="headerUser3">
    <div class="mx-4 mt-4 py-3 flex items-center space-x-4 ">
        <a th:href="@{/web/EmployeeTasks/{id}(id=${projectId}, employeeId=${employeeId})}" class="icon">
            <i class="fa-solid fa-arrow-left fa-xl"></i>
        </a>
        <a href="#" onclick="languageModal()" class="icon">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<footer>
    <div th:fragment="footer">
        <p class="text-center text-gray-500 text-xs py-6">
            © 2024 eccos pro GmbH. All rights reserved.
        </p>
        <div th:fragment="scripts">
            <script src="/javascript/languageModal.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        </div>
    </div>
</footer>
</body>
</html>