<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Fragments</title>
    <style>
        footer {
            padding: 20px 0;
            background-color: #f8f9fa;
            border-top: 1px solid #e9ecef;
        }
        .container {
            width: 90%;
            margin: 0 auto;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:fragment="modal">
    <div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="languageModalLabel">Choose Language</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div th:if="${isAllProjectsPage}">
                        <a th:href="@{/projects/allProjects(locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/projects/allProjects(locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllResourcesPage}">
                        <a th:href="@{/resources/allResources(locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/resources/allResources(locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllCustomerPage}">
                        <a th:href="@{/customer/allCustomers(locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/customer/allCustomers(locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllEmployeesPage}">
                        <a th:href="@{/web/allEmployees(locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/allEmployees(locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllTasksPage}">
                        <a th:href="@{/tasks/allTasks/{id}(id=${projectId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/tasks/allTasks/{id}(id=${projectId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllPostsPage}">
                        <a th:href="@{/posts/allPosts/{id}(id=${projectId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/posts/allPosts/{id}(id=${projectId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllPostsEmployeePage}">
                        <a th:href="@{/posts/allPostsEmployee/{id}(id=${projectId}, employeeId=${employeeId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/posts/allPostsEmployee/{id}(id=${projectId}, employeeId=${employeeId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isAllTasksPostsPage}">
                        <a th:href="@{/posts/allTasksPosts/{id}(id=${taskId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/posts/allTasksPosts/{id}(id=${taskId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isCreateCustomerPage}">
                        <a th:href="@{/customer/createCustomer(locale='en')}" class="btn-custom" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/customer/createCustomer(locale='de')}" class="btn-custom" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isCreateEmployeePage}">
                        <a th:href="@{/web/employees(locale='en')}" class="btn-custom" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/employees(locale='de')}" class="btn-custom" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isCreateProjectPage}">
                        <a th:href="@{/projects/createProject(locale='en')}" class="btn-custom" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/projects/createProject(locale='de')}" class="btn-custom" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isCreateResourcePage}">
                        <a th:href="@{/resources/createResource(locale='en')}" class="btn-custom" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/resources/createResource(locale='de')}" class="btn-custom" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isCreateTaskPage}">
                        <a th:href="@{/tasks/createTask/{id}(id=${projectId}, locale='en')}" class="btn-custom" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/tasks/createTask/{id}(id=${projectId}, locale='de')}" class="btn-custom" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isInfoEmployeePage}">
                        <a th:href="@{/web/infoEmployee/{id}(id=${employeeId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/infoEmployee/{id}(id=${employeeId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>

                    <div th:if="${isEmployeeProjectsPage}">
                        <a th:href="@{/web/EmployeeProjects/{id}(id=${employeeId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/EmployeeProjects/{id}(id=${employeeId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isEmployeeTasksPage}">
                        <a th:href="@{/web/EmployeeTasks/{id}(id=${projectId}, employeeId=${employeeId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/EmployeeTasks/{id}(id=${projectId}, employeeId=${employeeId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>

                    <div th:if="${isSuccessLoginPage}">
                        <a th:href="@{/web/successLogin(locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/successLogin(locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>
                    <div th:if="${isSuccessLoginUserPage}">
                        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId}, locale='en')}" class="button" style="width: 45%; margin: 2%;">English</a>
                        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId}, locale='de')}" class="button" style="width: 45%; margin: 2%;">Deutsch</a>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="header">
    <div class="side-button">
        <a th:href="@{/web/successLogin}">
            <i class="fa-solid fa-house fa-xl" style="margin-right: 2%;"></i>
        </a>
        <a th:href="@{/login?logout}" >
            <i class="fa-solid fa-right-from-bracket fa-xl" style="margin-right: 2%;" ></i>
        </a>
        <a href="/reports/employees/pdf">
            <i class="fa-solid fa-print fa-xl " style="margin-right: 2%;"></i>
        </a>
        <a th:if="${isAllCustomerPage}" th:href="@{/map/allCustomers}">
            <i class="fa-solid fa-map-location-dot fa-xl" style="margin-right: 2%;" ></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>

<div th:fragment="header1">
    <div class="side-button">
        <a th:href="@{/login?logout}" >
            <i class="fa-solid fa-right-from-bracket fa-2xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-2xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header2">
    <div class="side-button">
        <a th:href="@{/projects/allProjects}">
            <i class="fa-solid fa-arrow-left fa-2xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-2xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header3">
    <div class="side-button">
        <a th:href="@{/tasks/allTasks/{id}(id=${projectId})}">
            <i class="fa-solid fa-arrow-left fa-2xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-2xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header4">
    <div class="side-button">
        <a th:href="@{/customer/allCustomers}">
            <i class="fa-solid fa-arrow-left fa-2xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-2xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="header5">
    <div class="side-button">
        <a th:href="@{/resources/allResources}">
            <i class="fa-solid fa-arrow-left fa-2xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-2xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>

<div th:fragment="headerUser">
    <div class="side-button">
        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId})}">
            <i class="fa-solid fa-house fa-xl" style="margin-right: 2%;"></i>
        </a>
        <a th:href="@{/login?logout}" >
            <i class="fa-solid fa-right-from-bracket fa-xl" style="margin-right: 2%;" ></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-2xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="headerUser1">
    <div class="side-button">
        <a th:href="@{/web/successUserLogin/{id}(id=${employeeId})}">
            <i class="fa-solid fa-house fa-xl" style="margin-right: 2%;"></i>
        </a>
        <a th:href="@{/login?logout}" >
            <i class="fa-solid fa-right-from-bracket fa-xl" style="margin-right: 2%;" ></i>
        </a>
        <a href="/reports/employees/pdf">
            <i class="fa-solid fa-print fa-xl " style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>

<div th:fragment="headerUser2">
    <div class="side-button">
        <a th:href="@{/web/EmployeeProjects/{id}(id=${employeeId})}">
            <i class="fa-solid fa-arrow-left fa-xl " style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<div th:fragment="headerUser3">
    <div class="side-button">
        <a th:href="@{/web/EmployeeTasks/{id}(id=${projectId}, employeeId=${employeeId})}">
            <i class="fa-solid fa-arrow-left fa-2xl" style="margin-right: 2%;"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#languageModal">
            <i class="fa-solid fa-language fa-2xl"></i>
        </a>
    </div>
    <div th:insert="~{::modal}"></div>
</div>
<footer>
    <div th:fragment="footer">
        <div class="container">
            <p class="text-center">© 2024 eccos pro GmbH. All rights reserved.</p>
        </div>
        <div th:fragment="scripts">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://kit.fontawesome.com/5b019c160d.js" crossorigin="anonymous"></script>
        </div>
    </div>
</footer>
</body>
</html>