<div th:fragment="split-view" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/javascript/split-view-employee-customer.js"></script>
</div>

<div th:fragment="split-view2" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/javascript/split-view.js"></script>
</div>

<div th:fragment="split-view3" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/javascript/employeeFile-split-view.js"></script>
</div>
<div th:fragment="fontIcon" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="https://kit.fontawesome.com/5b019c160d.js" crossorigin="anonymous"></script>
</div>
