 body {
           font-family: Roboto, sans-serif;
           font-size:22px;
        }
        h2 {
            text-align: center;
        }
        .container {
            max-width: 1600px;
            margin: 0 auto;
            padding: 20px;
        }
        .table-responsive {
            overflow-x: auto;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        .table th, .table td {
            text-align: left;
            border: 1px solid #dee2e6;
            padding: 8px;
        }
        .table th {
            background-color: #f2f2f2;
        }

         .split-view {
            display: flex;
            gap: 15px;
            width: 1740px;
        }
        .tasks-container {
            flex: 70%;
        }
        .edit-container {
            flex: 30%;
            display: none;
            height: auto;
            border: 1px solid #dee2e6;
        }
        .files-container {
            flex: 37%;
            display: none;
            height: 100%;
            border: 1px solid #dee2e6;

        }
        .button {
            display: inline-block;
            padding: 8px 16px;
            background-color: #fecb01;
            color: black;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
            margin-bottom: 10px;
            margin-right: 10px;
            width: 124px;
        }
        .button:hover {
            background-color: #7e6501;
        }
        .tooltip {
            display: none;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
        .tooltip.show {
            display: block !important;
        }

        .side-button .fa-house,
        .side-button .fa-language,
        .side-button .fa-map-location-dot,
        .side-button .fa-print,
        .side-button .fa-right-from-bracket{
            text-align: left;
            margin-bottom: 4%;
            margin-top: 4%;
            color:#fecb01;
            transition: color 0.3s;
        }

        .side-button .fa-house:hover,
        .side-button .fa-language:hover,
        .side-button .fa-map-location-dot:hover,
        .side-button .fa-print:hover,
        .side-button .fa-right-from-bracket:hover{
            color: #7e6501;
        }
         .bounce-icon {
            background-color: white;
            border: none;
        }

        .bounce-icon:hover {
            animation: bounce 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        @keyframes bounce {

            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-5px);
            }
        }


               .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

  .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 35%;
            height: 14%;
            text-align: center;
            border-radius: 10px;
        }


   .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }