        body {
            width: 100%;
            font-family: Roboto, sans-serif;
            font-size:22px;
             margin-top: 90px;
        }
        h2{
            text-align: center;
        }
        .container {
            max-width: 1600px;
            margin-left: auto;

            padding: 20px;
        }
        .table-responsive {
            overflow-x: auto;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        .table th, .table td {
            text-align: center;
            border: 1px solid #dee2e6;
            padding: 8px;
        }
        .table th {
            background-color: #f2f2f2;
        }
        .table td {
            background-color: #ffffff;
        }
        .button {
            display: inline-block;
            padding: 8px 16px;
            background-color: #fecb01;
            color: black;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
            margin-bottom: 10px;
            margin-right: 10px;
            width:150px;
        }
        .button:hover {
            background-color: #7e6501;
            color: #ffffff;
        }
        .upload-form {
            margin-top: 10px;
            padding: 15px;
            border-radius: 5px;
        }
        .upload-form input[type=file] {
            margin-bottom: 10px;
        }
        .upload-form button[type=submit] {
            display: inline-block;
            padding: 8px 16px;
            background-color: #9fc5e8;
            color: white;
            text-align: center;
            text-decoration: none;
            border: 1px black;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .upload-form button[type=submit]:hover {
            background-color: #7bb5eb;
            color: #ffffff;
        }

        .bounce-icon {
            background-color: white;
            border: none;
        }

        .bounce-icon:hover {
            animation: bounce 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        @keyframes bounce {

            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-5px);
            }
        }
        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 35%;
            text-align: center;
            border-radius: 10px;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .right-buttons {
            margin-left: 73%;
        }
         .back-to-menu .fa-arrow-left {
            color: #febc01;
            transition: color 0.3s;
            text-align: left;
            margin-top:2%;
            margin-bottom:2%;
        }
        .back-to-menu .fa-arrow-left:hover{
        color: #7e6501;

        .create-button-container{
        margin-top:20px;
        text-align: left;
    }