 body {
            font-family: Roboto, sans-serif;
            font-size:22px;

        }
        h2{
            text-align: center;

        }
        .container {
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;

        }
         .split-view {
            display: flex;
            gap: 15px;
            width: 1900px;
        }

           .tasks-container {
            flex: 70%;
        }
        .edit-container {
            flex: 30%;
            display: none;
            height: auto;
        }
        .files-container {
            flex: 36%;
            display: none;
            height: 100%;
        }

        .table-responsive {
            overflow-x: auto;

        }
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        .table th, .table td {
            text-align: center;
            border: 1px solid #dee2e6;
            padding: 8px;
        }
        .table th {
            background-color: #f2f2f2;
        }
        .table td {
            background-color: #ffffff;
        }
        .button {
            display: inline-block;
            padding: 8px 16px;
            background-color: #fecb01;
            color: black;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
            margin-bottom: 10px;
            margin-right: 10px;
            width:125px;
        }
        .button:hover {
            background-color: #7e6501;
            color: #ffffff;
        }
        .bounce-icon:hover {
            animation: bounce 0.5s infinite alternate;
        }
        @keyframes bounce {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-5px);
            }
        }

        .right-buttons {
            text-align: right;
        }
         .side-button .fa-house,
          .side-button .fa-right-from-bracket,
          .side-button .fa-arrow-left,
          .side-button .fa-print{
           color: #fecb01;
           transition: color 0.3s;
           text-align: left;
           margin-bottom: 4%;
           margin-top:4%;
        }
        .side-button .fa-house:hover,
         .side-button .fa-right-from-bracket:hover,
         .side-button .fa-arrow-left:hover,
         .side-button .fa-print:hover{

            color: #7e6501;
        }
        .create-button-container{
            color: #fecb01;
            transition: color 0.3s;
            margin-top:20px;
            text-align: left;
        }

        .create-button-container .fa-print:hover{
            color: #7e6501;
        }

         .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

  .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 35%;
            text-align: center;
            border-radius: 10px;
        }


   .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
         .bounce-icon {
            background-color: white;
            border: none;
        }
        .bounce-icon .fa-folder-open:hover{
            color: #7e6501;
        }