     body {
            font-family: Roboto, sans-serif;
            font-size:22px;
        }

        h2 {
            font-family: cursive, sans-serif;
            text-align: center;
            color: #333;
            padding: 20px;
        }

        .form-container {
            width: 50%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 5.1);
        }

        .form-control {
            height: calc(2.25rem + 10px); /* Increase the height */
            font-size: 1.25rem; /* Increase the font size */
        }

        .form-control-lg {
            height: calc(2.875rem + 10px); /* Even larger height for large inputs */
            font-size: 1.5rem; /* Larger font size for large inputs */
        }

        .btn-custom {
           display: inline-block;
           padding: 8px 16px;
           background-color: #fecb01;
           color: black;
           text-align: center;
           text-decoration: none;
           border-radius: 8px;
           cursor: pointer;
           font-size: 15px;
           margin-bottom: 10px;
           margin-right: 10px;
           width:150px;
        }

        .btn-custom:hover {
            color: white;
            background-color: #7e6501;
        }

          .side-button .fa-arrow-left,
          .side-button .fa-right-from-bracket,
          .side-button .fa-language{
                    color: #febc01;
                    transition: color 0.3s;
                    text-align: left;
                    margin-top:4%;
                    margin-bottom:4%;
                    margin-left:2%;
                }
                .side-button .fa-arrow-left:hover,
                .side-button .fa-right-from-bracket:hover,
                .side-button .fa-language:hover{
                    color: #7e6501;