  body {
            width: 100%;
            font-family: Roboto, sans-serif;
            font-size:22px;
        }

        .form-container {
            width: 98%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 5.1);
        }

        .form-control {
            height: calc(2.25rem + 10px); /* Increase the height */
            font-size: 1.25rem; /* Increase the font size */
        }

        .form-control-lg {
            height: calc(2.875rem + 10px); /* Even larger height for large inputs */
            font-size: 1.5rem; /* Larger font size for large inputs */
        }

        .btn-custom {
            background-color: #fecb01;
            color: black;
            font-size: 1.25rem;
            height: calc(2.875rem + 10px); /* Match height with form-control-lg */
        }

        .btn-custom:hover {
            color: white;
            background-color: #7e6501;
        }