 body {
            font-family: Roboto, sans-serif;
            font-size:22px;
        }

         .form-container {
                    width: 98%;
                    margin: 0 auto;
                    background-color: #fff;
                    padding: 20px;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 5.1);
                }

        label {
            font-family: cursive, sans-serif;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        span {
            padding: 8px;

        }

        input[type="submit"] {
            background-color: #fecb01;
            color: black;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #7e6501;
        }



        .table-content{
            width: 80%;
            font-size: 20px;
        }

        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 30px;
            border: 1px solid #888;
            width: 80%;
            max-width: 600px;
            border-radius: 8px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .popup-button {
            background-color: #fecb01;
            color: black;
            padding: 10px 20px;
            margin-top: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }

        .popup-button:hover {
            background-color: #7e6501;
            color: white;
        }

         .form-container {
            width: 80%;
            margin: 0 auto;


        }

         .form-control {
            height: calc(2.25rem + 10px); /* Increase the height */
            font-size: 1.25rem; /* Increase the font size */
        }

        .form-control-lg {
            height: calc(2.875rem + 10px); /* Even larger height for large inputs */
            font-size: 1.5rem; /* Larger font size for large inputs */
        }