   .panel {
            margin-top: 50px;
            padding: 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

  .btn-custom {
            background-color: #fecb01;
            color: black;
            font-size: 1.25rem;
            height: calc(2.875rem + 10px); /* Match height with form-control-lg */
            margin: 5px;
        }

        .btn-custom:hover {
            color: white;
            background-color: #7e6501;
        }

          .log-out .fa-right-from-bracket{
           color: #fecb01;
           transition: color 0.3s;
           text-align: left;
           margin-bottom: 4%;
           margin-top:4%;
           margin-left: 10%;
        }

         .log-out .fa-right-from-bracket:hover{
            color: #7e6501;
        }