   .panel {
            margin-top: 50px;
            padding: 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

  .btn-custom {
            background-color: #fecb01;
            color: black;
            font-size: 1.25rem;
            height: calc(2.875rem + 10px); /* Match height with form-control-lg */
            margin: 5px;
        }

        .btn-custom:hover {
            color: white;
            background-color: #7e6501;
        }


        .side-button .fa-language,
        .side-button .fa-right-from-bracket{
            color: #fecb01;
            transition: color 0.3s;
            text-align: left;
            margin-bottom: 4%;
            margin-top:4%;
        }

        .side-button .fa-language:hover,
        .side-button .fa-right-from-bracket:hover{

           color: #7e6501;
        }

         .button {
                    display: inline-block;
                    padding: 8px 16px;
                    background-color: #fecb01;
                    color: black;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 15px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    width:125px;
                }
                .button:hover {
                    background-color: #7e6501;
                    color: #ffffff;
                }