<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{allCustomers.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="font-roboto text-sm lg:text-lg">
<div class="container mx-auto max-w-full p-5">
    <h2 class="text-center text-2xl mb-4" th:text="#{allCustomers.title}"></h2>
    <div th:replace="~{fragments/fragment1::header}"></div>

    <div class="flex justify-between gap-2 mb-4">
        <a th:href="@{/customer/createCustomer}" class="bg-yellow-400 text-black px-4 py-2 rounded-md hover:bg-yellow-600 hover:text-white" th:text="#{allCustomers.create}"></a>
    </div>

    <div class="flex justify-between gap-2  ">
        <div class="w-full">
            <div class="overflow-x-auto">
                <table class="min-w-full  border border-gray-300">
                    <thead class="bg-gray-200">
                    <tr>
                        <th class="p-2 text-left  border border-gray-300" th:text="#{message.id}"></th>
                        <th class="p-2 text-left  border border-gray-300" th:text="#{message.name}"></th>
                        <th class="p-2 text-left  border border-gray-300" th:text="#{message.description}"></th>
                        <th class="p-2 text-left  border border-gray-300" th:text="#{message.action}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Check if customers list is empty -->
                    <tr th:if="${#lists.isEmpty(customers)}">
                        <td colspan="4" class="text-center py-4" th:text="#{allCustomers.noCustomersFound}"></td>
                    </tr>
                    <!-- Iterate over customers -->
                    <tr th:each="customer : ${customers}" class="border border-gray-300">
                        <td class="p-2 border border-gray-300" th:text="${customer.id}"></td>
                        <td class=" p-2 border border-gray-300" onmouseover="showTooltip(this)" onmouseout="hideTooltip(this)">
                            <span th:text="${customer.fullName}"></span>
                            <div class="tooltip hidden absolute bg-white border border-gray-300 p-4 shadow-md z-50">
                                <span th:text="'Email: ' + ${customer.email}"></span><br>
                                <span th:text="'Address: ' + ${customer.address}"></span><br>
                                <span th:text="'City: ' + ${customer.city}"></span><br>
                                <span th:text="'Postal Code: ' + ${customer.postalCode}"></span><br>
                                <span th:text="#{allCustomers.projects}"></span>
                                <th:block th:if="${#lists.isEmpty(customer.projects)}">
                                    <span th:text="#{allCustomers.none}"></span><br>
                                </th:block>
                                <ol th:if="${!#lists.isEmpty(customer.projects)}" class="list-decimal ml-4">
                                    <li th:each="project : ${customer.projects}" th:text="${project.name}"></li>
                                </ol>
                            </div>
                        </td>
                        <td class="p-2 border border-gray-300" th:text="${customer.description}"></td>
                        <td class="p-2 flex space-x-4 ">
                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/customer/deleteCustomer/{id}(id=${customer.id})}">
                                    <button class="bg-white border-none">
                                        <i class="fa-solid fa-trash fa-xl text-red-500 text-xl hover:text-red-700"></i>
                                    </button>
                                </a>
                            </span>
                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/customer/updateCustomer/{id}(id=${customer.id})}" class="files-link">
                                    <i class="fa-solid fa-user-pen fa-xl text-yellow-400 text-xl hover:text-yellow-600 ml-4"></i>
                                </a>
                            </span>
                            <!-- Conditionally show the map icon if the customer has projects -->
                            <span sec:authorize="hasRole('ADMIN')" th:if="${!#lists.isEmpty(customer.projects)}">
                                <a th:href="@{/customer/showCustomer/{id}(id=${customer.id})}">
                                    <i class="fa-solid fa-map-location-dot fa-xl text-yellow-400 text-xl hover:text-yellow-600 ml-4"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-full md:w-2/5 mt-8 hidden" id="filesContainer"></div>
    </div>
</div>

<div th:if="${customerCreated}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
        <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{customerCreatedSuccess}"></h2>
        <p>Name: <span th:text="${customerName}"></span></p>


    </div>
</div>

<div th:if="${customerUpdated}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
        <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{customerUpdatedSuccess}"></h2>
        <p>Id: <span th:text="${customerId}"></span></p>
        <p>Name: <span th:text="${customerName}"></span></p>

    </div>
</div>

<div th:if="${customerDeleted}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
        <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{customerDeletedSuccess}"></h2>
        <p>Id: <span th:text="${customerId}"></span></p>
        <p>Name: <span th:text="${customerName}"></span></p>

    </div>
</div>
<div th:replace="~{fragments/fragment2 :: split-view}"></div>
<div th:replace="~{fragments/fragment1 :: footer}"></div>

</body>
</html>
