<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Customers</title>
    <div th:replace="~{fragments/fragment1::link}"></div>
    <link rel="stylesheet" th:href="@{/css/allEmployees-Customers.css}">

</head>
<body>
<div class="container" style="max-width: 1780px">
    <h2 th:text="#{allCustomers.title}">All Customers</h2>
    <div th:replace="~{fragments/fragment1::header}"></div>
    <div class="left-side-button">
        <a th:href="@{/customer/createCustomer}" class="button" style="width: auto" th:text="#{allCustomers.create}">Create Customer</a>
    </div>
    <div class="split-view">
        <div class="tasks-container">
            <div class="table-responsive mt-3">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{message.id}">ID</th>
                        <th th:text="#{message.name}">Name</th>
                        <th th:text="#{message.description}">Description</th>
                        <th th:text="#{message.action}">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Check if customers list is empty -->
                    <tr th:if="${#lists.isEmpty(customers)}">
                        <td colspan="4">No Customers found.</td>
                    </tr>
                    <!-- Iterate over customers -->
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.id}"></td>
                        <td onmouseover="showTooltip(this)" onmouseout="hideTooltip(this)">
                            <span th:text="${customer.fullName}"></span>
                            <div class="tooltip">
                                <span th:text="'Email: ' + ${customer.email}"></span><br>
                                <span th:text="'Address: ' + ${customer.address}"></span><br>
                                <span th:text="'City: ' + ${customer.city}"></span><br>
                                <span th:text="'Postal Code: ' + ${customer.postalCode}"></span><br>
                                <span>Projects:</span>
                                <th:block th:if="${#lists.isEmpty(customer.projects)}">
                                    <span>None</span><br>
                                </th:block>
                                <ol th:if="${!#lists.isEmpty(customer.projects)}">
                                    <li th:each="project : ${customer.projects}" th:text="${project.name}"></li>
                                </ol>
                            </div>
                        </td>
                        <td th:text="${customer.description}"></td>
                        <td>
                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/customer/deleteCustomer/{id}(id=${customer.id})}">
                                    <button style="border: none;" class="bounce-icon">
                                        <i class="fa-solid fa-trash fa-xl" style="color: #ff6666;"></i>
                                    </button>
                                </a>
                            </span>
                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/customer/updateCustomer/{id}(id=${customer.id})}" class="files-link">
                                    <i class="fa-solid fa-user-pen fa-xl" style="color: #fecb01; margin-left: 4%;"></i>
                                </a>
                            </span>
                            <!-- Conditionally show the map icon if the customer has projects -->
                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/customer/showCustomer/{id}(id=${customer.id})}" th:if="${!#lists.isEmpty(customer.projects)}">
                                    <i class="fa-solid fa-map-location-dot fa-xl" style="color: #fecb01; margin-left: 4%;"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="files-container" id="filesContainer">

        </div>
    </div>
</div>

<div th:if="${customerDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Customer deleted successfully!</h2>
        <p>Customer Id: <span th:text="${customerId}"></span></p>
        <p>Customer Name: <span th:text="${customerName}"></span></p>
    </div>
</div>

<div th:if="${customerCreated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>New Customer created successfully!</h2>
        <p>Customer Name: <span th:text="${customerName}"></span></p>
    </div>
</div>

<div th:if="${customerUpdated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Customer updated successfully!</h2>
        <p>Customer Id: <span th:text="${customerId}"></span></p>
        <p>Customer Name: <span th:text="${customerName}"></span></p>
    </div>
</div>
<div th:replace="~{fragments/fragment2 :: split-view}"></div>
<div th:replace="~{fragments/fragment1 :: footer}"></div>

</body>
</html>
