<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{allComments.title}">All Comments</title>
    <div th:replace="~{fragments/fragment1::link}"></div>
    <link rel="stylesheet" th:href="@{/css/allPosts.css}">
</head>
<body>
<div class="container" style="max-width: 2000px">
    <h2 th:text="#{allComments.title}">All Comments</h2>
    <div th:replace="~{fragments/fragment1::headerUser2}"></div>
    <div class="create-button-container">
        <span sec:authorize="hasRole('ADMIN') or hasRole('USER')">
            <a th:href="@{/posts/createPost/{id}(id=${projectId})}" class="button" th:text="#{allComments.create}">Create Comment</a>
        </span>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thread-light">
            <tr>
                <th th:text="#{message.id}">ID</th>
                <th th:text="#{allComments.title}">Title</th>
                <th th:text="#{allComments.author}">Author</th>
                <th th:text="#{allComments.published}">Published</th>
                <th th:text="#{message.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(posts)}">
                <td colspan="5" th:text="#{allComments.noPostsFound}">No Comments found.</td>
            </tr>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td>
                    <a th:text="${post.title}"></a>
                </td>
                <td th:text="${post.author.fullName}"></td>
                <td th:text="${#temporals.format(post.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td>
                    <span sec:authorize="hasRole('ADMIN') or hasRole('USER')">
                        <a th:href="@{/posts/viewPost/{postId}(postId=${post.id})}">
                            <button style="border: none;" class="bounce-icon">
                                <i class="fa-solid fa-eye fa-xl bounce-icon" style="color: #28a745;"></i>
                            </button>
                        </a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${postDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{allComments.postDeleted}">Post deleted successfully!</h2>
        <p th:text="#{allComments.id}">Id: <span th:text="${postId}"></span></p>
        <p th:text="#{allComments.postTitle}">Post Title: <span th:text="${postTitle}"></span></p>
    </div>
</div>

<div th:if="${postCreated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{allComments.postCreated}">New Post created successfully!</h2>
        <p th:text="#{allComments.id}">Id: <span th:text="${postId}"></span></p>
        <p th:text="#{allComments.postTitle}">Post Title: <span th:text="${postTitle}"></span></p>
    </div>
</div>

<div th:replace="~{fragments/fragment1 :: footer}"></div>

</body>
</html>
