<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <div th:replace="~{fragments/fragment1::link}"></div>
    <link rel="stylesheet" th:href="@{/css/allProjects-Tasks-Resources.css}">
</head>
<body>
<div class="container" style="max-width: 1900px">
    <h2 th:text="#{allResources.title}">All Resources</h2>
    <div th:replace="~{fragments/fragment1::header}"></div>
    <div class="create-button-container">
        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/resources/createResource}" class="button" style="width:10%" th:text="#{allResources.create}">Create Resource</a>
        </span>
    </div>
    <div class="split-view">
        <div class="tasks-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{message.id}">ID</th>
                        <th th:text="#{message.name}">Name</th>
                        <th th:text="#{message.description}">Description</th>
                        <th th:text="#{message.action}">Action</th>
                        <th th:text="#{message.files}">Files</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Check if projects list is empty -->
                    <tr th:if="${#lists.isEmpty(resources)}">
                        <td colspan="4">No Resources found.</td>
                    </tr>
                    <!-- Iterate over projects -->
                    <tr th:each="resource : ${resources}">
                        <td th:text="${resource.id}"></td>
                        <td>
                            <a href="#" th:href="@{/resources/editResource/{id}(id=${resource.id})}" th:text="${resource.name}" class="edit-link"
                               style="color: black;"></a>
                        </td>
                        <td th:text="${resource.description}"></td>
                        <td> <!-- Moved the action column here -->
                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/resources/deleteResource/{id}(id=${resource.id})}">
                                    <button  style="border: none;" class="bounce-icon" >
                                        <i class="fa-solid fa-trash fa-xl" style="color: #ff6666;"></i>
                                    </button>
                                </a>
                            </span>
                        </td>
                        <td>
                              <span sec:authorize="hasRole('ADMIN')">
                                <a href="#" th:href="@{/resources/showResourceFiles/{id}(id=${resource.id})}" class="bounce-icon files-link">
                                    <i class="fa-solid fa-folder-open fa-xl" style="color: #fecb01;"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="edit-container" id="editContainer">
            <!-- Content from editTask.css.html will be loaded here -->
        </div>
        <div class="files-container" id="filesContainer">
            <!-- Content from showtaskFiles.html will be loaded here -->
        </div>
    </div>
</div>
<div th:if="${fileUploaded}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Resource uploaded successfully!</h2>
        <p> Id: <span th:text="${resourceId}"></span> ,  Name: <span th:text="${resourceName}"></span><br>
            File Name: <span th:text="${fileName}"></span></p>
    </div>
</div>

<div th:if="${fileDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>File deleted successfully!</h2>
        <p>Resource Id: <span th:text="${resourceId}"></span></p>
        <p>Resource Name: <span th:text="${resourceName}"></span></p>
    </div>
</div>

<div th:if="${resourceDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Resource deleted successfully!</h2>
        <p>Resource Id: <span th:text="${resourceId}"></span></p>
        <p>Resource Name: <span th:text="${resourceName}"></span></p>
    </div>
</div>

<div th:if="${resourceCreated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>New Resource created successfully!</h2>
        <p>Resource Name: <span th:text="${resourceName}"></span></p>
    </div>
</div>

<div th:if="${resourceUpdated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Resource updated successfully!</h2>
        <p>Resource Id: <span th:text="${resourceId}"></span></p>
        <p>Resource Name: <span th:text="${resourceName}"></span></p>
    </div>
</div>
<div th:replace="~{fragments/fragment2 :: split-view2}"></div>
<div th:replace="~{fragments/fragment1 :: footer}"></div>



</body>
</html>
