<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{allComments.title}">All Comments</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="font-roboto text-sm lg:text-lg">
<div class="container mx-auto max-w-full p-5">
    <h2 class="text-center text-2xl mb-4" th:text="#{allComments.title}">All Comments</h2>
    <div th:replace="~{fragments/fragment1::headerUser3}"></div>

    <div class="flex justify-between gap-2 mb-4">
        <span sec:authorize="hasRole('ADMIN') or hasRole('USER')">
            <a th:href="@{/posts/createTaskPost/{projectId}/{taskId}(projectId=${projectId}, taskId=${taskId})}"
               class="bg-yellow-400 text-black px-4 py-2 rounded-md hover:bg-yellow-600 hover:text-white"
               th:text="#{allComments.create}">Create Comment</a>
        </span>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300">
            <thead class="bg-gray-200">
            <tr>
                <th class="p-2 text-left border border-gray-300" th:text="#{message.id}">ID</th>
                <th class="p-2 text-left border border-gray-300" th:text="#{allComments.title}">Title</th>
                <th class="p-2 text-left border border-gray-300" th:text="#{allComments.author}">Author</th>
                <th class="p-2 text-left border border-gray-300" th:text="#{allComments.published}">Published</th>
                <th class="p-2 text-left border border-gray-300" th:text="#{message.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(posts)}">
                <td colspan="5" class="text-center py-4" th:text="#{allComments.noPostsFound}">No Comments found.</td>
            </tr>
            <tr th:each="post : ${posts}" class="border border-gray-300">
                <td th:text="${post.id}" class="p-2 border border-gray-300"></td>
                <td class="p-2 border border-gray-300">
                    <a th:text="${post.title}"></a>
                </td>
                <td class="p-2 border border-gray-300" th:text="${post.author.fullName}"></td>
                <td class="p-2 border border-gray-300" th:text="${#temporals.format(post.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td class="mt-2 p-2 flex space-x-4">
                    <span sec:authorize="hasRole('ADMIN') or hasRole('USER')">
                        <a th:href="@{/posts/viewPostTaskEmployee/{postId}(postId=${post.id})}">
                            <button class="bg-white border-none">
                                <i class="fa-solid fa-eye fa-xl" style="color: #28a745;"></i>
                            </button>
                        </a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:if="${postDeleted}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
        <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{allComments.postDeleted}">Post deleted successfully!</h2>
        <p>Id: <span th:text="${postId}"></span></p>
        <p>Post Title: <span th:text="${postTitle}"></span></p>
    </div>
</div>

<div th:if="${postCreated}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
        <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{allComments.postCreated}">New Post created successfully!</h2>
        <p>Id: <span th:text="${postId}"></span></p>
        <p>Post Title: <span th:text="${postTitle}"></span></p>
    </div>
</div>

<div th:replace="~{fragments/fragment1 :: footer}"></div>

</body>
</html>
