<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{allTasks.title}">All Tasks</title>
    <div th:replace="~{fragments/fragment1::link}"></div>
    <link rel="stylesheet" th:href="@{/css/allProjects-Tasks-Resources.css}">
</head>
<body>
<div class="container" style="max-width: 2000px">
    <input type="hidden" th:field="${projectId}">
    <h2 th:text="#{allTasks.title}">All Tasks</h2>
    <div th:replace="~{fragments/fragment1::header2}"></div>
    <div class="create-button-container">
        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/tasks/createTask/{id}(id=${projectId})}" class="button" th:text="#{allTasks.create}">Create Task</a>
        </span>
    </div>
    <div class="split-view">
        <div class="tasks-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thread-light">
                    <tr>
                        <th th:text="#{message.id}">ID</th>
                        <th th:text="#{message.name}">Name</th>
                        <th th:text="#{message.description}">Description</th>
                        <th th:text="#{allTasks.duration}">Duration</th>
                        <th th:text="#{message.status}">Status</th>
                        <th th:text="#{message.action}">Action</th>
                        <th th:text="#{message.files}">Files</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(tasks)}">
                        <td colspan="7" th:text="#{allTasks.noTasksFound}">No Tasks found.</td>
                    </tr>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.id}"></td>
                        <td>
                            <a href="#" th:href="@{/tasks/editTask/{id}(id=${task.id})}" th:text="${task.name}" class="edit-link"
                            style="color: black"></a>
                        </td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.durationInput}"></td>
                        <td>
                            <form th:action="@{/tasks/updateStatus}" method="post">
                                <input type="hidden" th:value="${task.id}" name="taskId"/>
                                <select name="status" required class="form-control" onchange="this.form.submit()">
                                    <option value="" disabled selected>Select</option>
                                    <option th:each="status : ${statuses}"
                                            th:value="${status}"
                                            th:text="${status}"
                                            th:selected="${status == task.status}">
                                    </option>
                                </select>
                            </form>
                        </td>
                        <td>
                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/tasks/deleteTask/{id}(id=${task.id})}">
                                    <button  style="border: none;" class="bounce-icon" >
                                        <i class="fa-solid fa-trash fa-xl" style="color: #ff6666;"></i>
                                    </button>
                                </a>
                            </span>

                            <span sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/posts/allTasksPosts/{id}(id=${task.id})}" class="bounce-icon">
                                    <i class="fa-regular fa-comment fa-xl" style="color: #fecb01; margin-left: 5%;"></i>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span sec:authorize="hasRole('ADMIN')">
                                <a href="#" th:href="@{/tasks/showFiles/{id}(id=${task.id})}" class="bounce-icon files-link">
                                    <i class="fa-solid fa-folder-open fa-xl" style="color: #fecb01;"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="edit-container" id="editContainer">
            <!-- Content from editTask.css.html will be loaded here -->
        </div>
        <div class="files-container" id="filesContainer">
            <!-- Content from showtaskFiles.html will be loaded here -->
        </div>
    </div>

</div>

<div th:if="${statusUpdated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{message.statusUpdated}">Status updated successfully!</h2>
        <p th:text="#{allTasks.taskName}">Task Name: <span th:text="${taskName}"></span></p>
        <p th:text="#{message.status}">Status: <span th:text="${status}"></span></p>
    </div>
</div>

<div th:if="${fileUploaded}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{message.fileUploaded}">File uploaded successfully!</h2>
        <p th:text="#{allTasks.taskName}">Task Name: <span th:text="${taskName}"></span></p>
        <p th:text="#{message.fileName}">File Name: <span th:text="${fileName}"></span></p>
    </div>
</div>

<div th:if="${fileDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{message.fileDeleted}">File deleted successfully!</h2>
        <p th:text="#{allTasks.taskName}">Task Name: <span th:text="${taskName}"></span></p>
    </div>
</div>

<div th:if="${taskDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{allTasks.taskDeleted}">Task deleted successfully!</h2>
        <!--<p>Task Id: <span th:text="${taskId}"></span></p>-->
        <p th:text="#{allTasks.taskName}">Task Name: <span th:text="${taskName}"></span></p>
    </div>
</div>

<div th:if="${taskCreated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{allTasks.taskCreated}">New Task created successfully!</h2>
        <!-- <p>Task Id: <span th:text="${taskId}"></span></p>-->
        <p th:text="#{allTasks.taskName}">Task Name: <span th:text="${taskName}"></span></p>
    </div>
</div>

<div th:if="${taskUpdated}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{allTasks.taskUpdated}">Task updated successfully!</h2>
<!--        <p>Task Id: <span th:text="${taskId}"></span></p>-->
        <p th:text="#{allTasks.taskName}">Task Name: <span th:text="${taskName}"></span></p>
    </div>
</div>
<script src="/javascript/popup-employee-resource.js"></script>
<div th:replace="~{fragments/fragment2 :: split-view2}"></div>
<div th:replace="~{fragments/fragment1 :: footer}"></div>



</body>
</html>
