<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/createForm.css}">
</head>
<body>
<h2>Resource Information</h2>
<div class="form-container">
    <form th:action="@{/resources/createdResource}" th:object="${resource}" method="post">
        <div class="form-group">
            <label for="name">Full Name:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input type="text" class="form-control form-control-lg" id="name" th:field="*{name}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" title="Full Name should contain only letters and spaces">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <input type="text" class="form-control form-control-lg" id="description" th:field="*{description}" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''">
        </div>
        <div class="form-group">
            <label for="qrCode">QR-Code:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('qrCode')}" th:errors="*{qrCode}"></div>
            <input type="text" class="form-control form-control-lg" id="qrCode" th:field="*{qrCode}" th:classappend="${#fields.hasErrors('qrCode')} ? 'is-invalid' : ''">
        </div>

        <button type="submit" class="btn btn-custom btn-block">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>