<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/createForm.css}">
</head>
<body>
<h2>Create Task</h2>
<div class="form-container">
    <form th:action="@{/tasks/createdTask}" th:object="${task}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="name">Task Name:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input type="text" class="form-control form-control-lg" id="name" th:field="*{name}" required minlength="4" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <textarea class="form-control form-control-lg" id="description" th:field="*{description}" required th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"></textarea>
        </div>

        <div class="form-group">
            <label for="durationInput">Task Duration:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('durationInput')}" th:errors="*{durationInput}"></div>
            <input type="text" class="form-control form-control-lg" id="durationInput" th:field="*{durationInput}" required th:classappend="${#fields.hasErrors('durationInput')} ? 'is-invalid' : ''">
        </div>

        <div class="form-group">
            <label for="skills">Required Skills:</label>
            <select class="form-control form-control-lg" id="skills" th:field="*{skillsIds}" multiple required size="5">
                <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control form-control-lg" id="status" th:field="*{status}" required>
                <option th:each="status : ${T(com.enterprise.employees.model.Status).values()}" th:value="${status}" th:text="${status}"></option>
            </select>
        </div>

        <input type="hidden" th:field="*{projectId}"> <!-- Hidden field for project id -->

        <button type="submit" class="btn btn-custom btn-block">Create Task</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
