<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{createProject.title}">Project Information</title>
    <div th:replace="~{fragments/fragment1 :: link}"></div>
    <link rel="stylesheet" th:href="@{/css/createForm.css}">
</head>
<body>
<h2 th:text="#{createProject.title}">Project Information</h2>
<div th:replace="~{fragments/fragment1 :: header2}"></div>
<div class="form-container">
    <form th:action="@{/projects/createdProject}" th:object="${proj}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="name" th:text="#{message.name}">Name:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input type="text" class="form-control form-control-lg" id="name" th:field="*{name}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" title="Name should contain only letters and spaces">
        </div>

        <div class="form-group">
            <label for="description" th:text="#{message.description}">Description:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <input type="text" class="form-control form-control-lg" id="description" th:field="*{description}" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''">
        </div>

        <div class="form-group">
            <label for="start" th:text="#{allProjects.startDate}">Start Date:</label>
            <input type="datetime-local" class="form-control form-control-lg" id="start" th:field="*{start}" th:classappend="${#fields.hasErrors('start')} ? 'is-invalid' : ''">
        </div>

        <div class="form-group">
            <label for="end" th:text="#{allProjects.endDate}">End Date:</label>
            <input type="datetime-local" class="form-control form-control-lg" id="end" th:field="*{end}" th:classappend="${#fields.hasErrors('end')} ? 'is-invalid' : ''">
        </div>

        <button type="submit" class="btn btn-custom btn-block" style ="width: 100%; padding: 3%;" >Submit</button>
    </form>
</div>

<div th:replace="~{fragments/fragment1 :: footer}"></div>
</body>
</html>
