<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/createForm.css}">
</head>
<body>
<h2>Project Information</h2>
<div class="form-container">
    <form th:action="@{/projects/createdProject}" th:object="${proj}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="name">Name:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input type="text" class="form-control form-control-lg" id="name" th:field="*{name}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" title="Name should contain only letters and spaces">
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <input type="text" class="form-control form-control-lg" id="description" th:field="*{description}" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''">
        </div>

        <div class="form-group">
            <label for="start">Start Date:</label>
            <input type="datetime-local" class="form-control form-control-lg" id="start" th:field="*{start}" th:classappend="${#fields.hasErrors('start')} ? 'is-invalid' : ''">
        </div>

        <div class="form-group">
            <label for="end">End Date:</label>
            <input type="datetime-local" class="form-control form-control-lg" id="end" th:field="*{end}" th:classappend="${#fields.hasErrors('end')} ? 'is-invalid' : ''">
        </div>

        <button type="submit" class="btn btn-custom btn-block" >Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
