<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{createEmployee.title}">Employee Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="font-roboto bg-gray-100 text-gray-800">
<header>
    <h2 class="text-2xl font-bold text-center text-gray-700 py-4" th:text="#{createEmployee.title}">Employee Information</h2>
    <div th:replace="~{fragments/fragment1::header1}"></div>
</header>
<main>
    <div class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md">
        <form th:action="@{/web/employee}" th:object="${employee}" method="post">
            <div class="mb-4">
                <label for="fullName" class="block text-lg font-medium text-gray-700" th:text="#{create.fullName}">Full Name:</label>
                <div class="text-red-500 text-sm" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
                <input type="text" id="fullName" class="input" th:field="*{fullName}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('fullName')} ? 'border-red-500' : ''" title="Full Name should contain only letters and spaces">
            </div>

            <div class="mb-4">
                <label for="email" class="block text-lg font-medium text-gray-700" th:text="#{create.email}">Email:</label>
                <div class="text-red-500 text-sm" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                <input type="email" id="email" class="input" th:field="*{email}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" th:classappend="${#fields.hasErrors('email')} ? 'border-red-500' : ''">
            </div>

            <div class="mb-4">
                <label for="department" class=" block text-lg font-medium text-gray-700" th:text="#{create.department}">Department:</label>
                <select id="department" class="input" th:field="*{departmentId}" required>
                    <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
                </select>
            </div>

            <div class="mb-4">
                <label for="role" class="block text-lg font-medium text-gray-700" th:text="#{create.role}">Role:</label>
                <select id="role" class="input" th:field="*{role}" required>
                    <option th:each="role : ${T(com.enterprise.employees.model.EmployeeRoles).values()}" th:value="${role}" th:text="${role}"></option>
                </select>
            </div>

            <div class="mb-4">
                <label for="skills" class="block text-lg font-medium text-gray-700" th:text="#{create.skills}">Skills:</label>
                <div class="text-red-500 text-sm" th:if="${#fields.hasErrors('skillIds')}" th:errors="*{skillIds}"></div>
                <select id="skills" class="mt-1 block w-full px-3 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm" th:field="*{skillIds}" multiple="multiple" size="5">
                    <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
                </select>
            </div>

            <div class="mb-4">
                <label for="username" class="block text-lg font-medium text-gray-700" th:text="#{create.username}">Username:</label>
                <div class="text-red-500 text-sm" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                <input type="text" id="username" class="input" th:field="*{username}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('username')} ? 'border-red-500' : ''" title="Username should contain only letters and spaces">
            </div>

            <div class="mb-4">
                <label for="password" class="block text-lg font-medium text-gray-700" th:text="#{create.password}">Password:</label>
                <div class="text-red-500 text-sm" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                <input type="password" id="password" class="input" th:field="*{password}" required minlength="4" pattern="[a-zA-Z0-9]+" th:classappend="${#fields.hasErrors('password')} ? 'border-red-500' : ''" title="Password should contain only letters and numbers">
            </div>

            <button type="submit" class="w-full py-3 text-lg text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white rounded transition-all duration-300">Submit</button>
        </form>
    </div>
</main>
<footer>
   <script>
       function languageModal() {
        const modal = document.getElementById('languageModal').style.display = "block";
}

       function closeAddPopup() {
        const modal = document.getElementById('languageModal').style.display = "none";
}
   </script>
    <div th:replace="~{fragments/fragment1 :: footer}"></div>
</footer>
</body>
</html>
