<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{editResource.title}">Edit Resource</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="font-roboto bg-gray-100 text-gray-800">
<main>
    <div class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md">
        <form th:action="@{/resources/editedResource}" th:object="${resource}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="mb-4">
                <label for="name" class="block text-lg font-medium text-gray-700" th:text="#{create.fullName}">Full Name:</label>
                <div class="text-red-500 text-sm" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <input type="text" id="name" class="input" th:field="*{name}" required minlength="4"  th:classappend="${#fields.hasErrors('name')} ? 'border-red-500' : ''" title="Name should have maximum 50 characters">
            </div>

            <div class="mb-4">
                <label for="description" class="block text-lg font-medium text-gray-700" th:text="#{message.description}">Description:</label>
                <input type="text" id="description" class="input" th:field="*{description}">
            </div>

            <div class="mb-4">
                <label for="qrCode" class="block text-lg font-medium text-gray-700" th:text="#{message.createQrCode}">QR Code:</label>
                <div class="text-red-500 text-sm" th:if="${#fields.hasErrors('qrCode')}" th:errors="*{qrCode}"></div>
                <input type="text" id="qrCode" class="input" th:field="*{qrCode}" required minlength="4" pattern="[a-zA-Z0-9]+" th:classappend="${#fields.hasErrors('qrCode')} ? 'border-red-500' : ''">
            </div>

            <button type="submit" class="w-full py-3 text-lg text-black bg-yellow-400 hover:bg-yellow-600 hover:text-white rounded transition-all duration-300">Submit</button>
        </form>
    </div>
</main>
<footer>
    <div th:replace="~{fragments/fragment1::scripts}"></div>
</footer>
</body>
</html>
