<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Task</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/editTask.css}">
</head>
<body>

<div class="form-container">
    <form th:action="@{/tasks/editedTask}" th:object="${task}" method="post" >
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{projectId}">

        <div class="form-group">
            <label for="name">Name:</label>
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input type="text" class="form-control form-control-lg" id="name" th:field="*{name}"  required minlength="4" th:style="${#fields.hasErrors('name')} ? 'background-color: #FF7F7F;' : ''" >
        </div>

        <div class="form-group">
            <label>Project:</label>
            <span class="form-control form-control-lg" th:text="${projectName}"></span>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <input type="text" id="description" th:field="*{description}" class="form-control form-control-lg" required minlength="4" th:style="${#fields.hasErrors('description')} ? 'background-color: #FF7F7F;' : ''">
        </div>

        <div class="form-group">
            <label for="durationInput">Duration:</label>
            <div class="error" th:if="${#fields.hasErrors('durationInput')}" th:errors="*{durationInput}"></div>
            <input type="text" id="durationInput" th:field="*{durationInput}" class="form-control form-control-lg" required minlength="1" title="Duration cannot be empty">
        </div>

        <div class="form-group">
            <label for="resources">Resources:</label>
            <button type="button" onclick="openResourcePopup()">+</button>
            <select id="resources" name="resources" multiple="multiple" size="5" class="form-control">
                <option th:each="resource : ${assignedResources}"
                        th:value="${resource.id}"
                        th:text="${resource.name}"
                        th:selected="${resourcesIds.contains(resource.id)}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="eligibleEmployees">Eligible Employees:</label>
            <button type="button" onclick="openAddPopup()">+</button>
            <select id="eligibleEmployees" name="eligibleEmployees" multiple="multiple" size="5" class="form-control">
                <option th:each="employee : ${assignedEmployees}"
                        th:value="${employee.id}"
                        th:text="${employee.fullName}"
                        th:selected="${eligibleEmployeesIds.contains(employee.id)}">
                </option>
            </select>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <!-- The add Popup -->
    <div id="addEmployeePopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeAddPopup()">&times;</span>
            <h2>Select Eligible Employees</h2>
            <table class="table-content">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Checked</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(employees)}">
                    <td colspan="2">No Employees found.</td>
                </tr>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.fullName}"></td>
                    <td>
                        <div class="employee-checkbox">
                            <label>
                                <input type="checkbox" th:id="'employee-' + ${employee.id}" th:value="${employee.id}">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="button" onclick="addSelectedEmployees()" class="popup-button">Add Selected Employees</button>
            </div>
        </div>
    </div>

    <div id="addResourcePopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closeResourcePopup()">&times;</span>
            <h2>Select Resources</h2>
            <table class="table-content">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Checked</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(resources)}">
                    <td colspan="2">No Resources found.</td>
                </tr>
                <tr th:each="resource : ${resources}">
                    <td th:text="${resource.name}"></td>
                    <td>
                        <div class="resource-checkbox">
                            <label>
                                <input type="checkbox" th:id="'resource-' + ${resource.id}" th:value="${resource.id}">
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="button" onclick="addSelectedResources()" class="popup-button">Add Selected Resources</button>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS and jQuery (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
