<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project</title>
    <div th:replace="~{fragments/fragment1 :: link}"></div>
    <link rel="stylesheet" th:href="@{/css/editEmployee.css}">
</head>
<body>
<div class="form-container">
    <form th:action="@{/projects/editedProject}" th:object="${proj}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="name">Project:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input type="text" class="form-control form-control-lg" id="name" th:field="*{name}" readonly>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            <textarea class="form-control form-control-lg" id="description" th:field="*{description}" readonly></textarea>
        </div>

        <div class="form-group">
            <label for="start">Start:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></div>
            <input type="text" class="form-control form-control-lg" id="start" th:field="*{start}" readonly>
        </div>

        <div class="form-group">
            <label for="end">End:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('end')}" th:errors="*{end}"></div>
            <input type="text" class="form-control form-control-lg" id="end" th:field="*{end}" readonly>
        </div>

        <div class="form-group">
            <label>Assign Employees:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('employeeIds')}" th:errors="*{employeeIds}"></div>
            <select class="form-control form-control-lg" id="employees" th:field="*{employeeIds}" multiple="multiple" size="5">
                <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.fullName}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="customer">Set Customer:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}"></div>
            <select id="customer" class="form-control form-control-lg" th:field="*{customerId}" required>
                <option th:each="customer : ${customers}"
                        th:value="${customer.id}"
                        th:attr="data-fullName=${customer.fullName}, data-city=${customer.city}, data-address=${customer.address}, data-postalCode=${customer.postalCode}"
                        th:selected="${customer.id == proj.customerId}">
                    <span th:text="${customer.fullName}"></span>
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-custom btn-block">Submit</button>
    </form>
</div>
<div th:replace="~{fragments/fragment1 :: scripts}"></div>
</body>
</html>
