<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Username and Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/editEmployee.css}">
</head>
<body>
<div class="form-container" style="width: 150%; margin-top:22%">
    <form th:action="@{/web/editedInfoEmployee}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{fullName}">
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{department.name}">
        <input type="hidden" th:field="*{role}">

        <div class="form-group">
            <label for="username">Username:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <input type="text" class="form-control form-control-lg" id="username" th:field="*{username}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''" title="Username should contain only letters and spaces">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <input type="password" class="form-control form-control-lg" id="password" th:field="*{password}" required minlength="4" pattern="[a-zA-Z0-9]+" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" title="Password should contain only letters and numbers">
        </div>
        <button type="submit" class="btn btn-custom btn-block">Submit</button>


    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
