<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/editEmployee.css}">
</head>
<body>
<div class="form-container" >
    <form th:action="@{/web/admin/editedEmployee}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="fullName">Full Name:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
            <input type="text" class="form-control form-control-lg" id="fullName" th:field="*{fullName}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('fullName')} ? 'is-invalid' : ''" title="Full Name should contain only letters and spaces">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <input type="email" class="form-control form-control-lg" id="email" th:field="*{email}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
        </div>

        <div class="form-group">
            <label for="department">Department:</label>
            <select class="form-control form-control-lg" id="department" th:field="*{departmentId}" required>
                <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="skills">Skills:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('skillIds')}" th:errors="*{skillIds}"></div>
            <select class="form-control form-control-lg" id="skills" th:field="*{skillIds}" multiple="multiple" size="5">
                <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <select class="form-control form-control-lg" id="role" th:field="*{role}" required>
                <option th:each="role : ${T(com.enterprise.employees.model.EmployeeRoles).values()}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <input type="text" class="form-control form-control-lg" id="username" th:field="*{username}" required minlength="4" pattern="[a-zA-Z\s]+" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''" title="Username should contain only letters and spaces">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <input type="password" class="form-control form-control-lg" id="password" th:field="*{password}" required minlength="4" pattern="[a-zA-Z0-9]+" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" title="Password should contain only letters and numbers">
        </div>

        <button type="submit" class="btn btn-custom btn-block">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
