<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{message.projectsEmployee}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="font-roboto text-sm lg:text-lg">
<div class="container mx-auto max-w-full p-5">

    <h2 class="text-center text-2xl mb-4" th:text="#{message.projectsEmployee}"></h2>
    <div th:replace="~{fragments/fragment1::headerUser1}"></div>

    <div class="flex justify-between gap-2">
        <div class="w-full">
            <div class="overflow-x-auto">
                <table class="min-w-full border border-gray-300">
                    <thead class="bg-gray-200">
                    <tr>
                        <th class="p-2 text-left border border-gray-300" th:text="#{message.id}"></th>
                        <th class="p-2 text-left border border-gray-300" th:text="#{message.name}"></th>
                        <th class="p-2 text-left border border-gray-300" th:text="#{message.description}"></th>
                        <th class="p-2 text-left border border-gray-300" th:text="#{allProjects.startDate}"></th>
                        <th class="p-2 text-left border border-gray-300" th:text="#{allProjects.endDate}"></th>
                        <th class="p-2 text-left border border-gray-300" th:text="#{message.status}"></th>
                        <th class="p-2 text-left border border-gray-300" th:text="#{message.action}"></th>
                        <th class="p-2 text-left border border-gray-300" th:text="#{message.files}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Check if projects list is empty -->
                    <tr th:if="${#lists.isEmpty(projects)}">
                        <td colspan="7" class="text-center py-4" th:text="#{message.ProjectsNotFound}"></td>
                    </tr>
                    <!-- Iterate over projects -->
                    <tr class="border border-gray-300" th:each="proj : ${projects}">
                        <td th:text="${proj.id}" class="border border-gray-300"></td>
                        <td class="border border-gray-300" th:text="${proj.name}"></td>
                        <td class="p-2 border border-gray-300" th:text="${proj.description}"></td>
                        <td class="p-2 border border-gray-300" th:text="${#temporals.format(proj.start, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td class="p-2 border border-gray-300" th:text="${#temporals.format(proj.end, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td class="p-2 border border-gray-300" th:text="${proj.finished} ? 'Closed' : 'Open'"></td>
                        <td class="mt-2 p-2 flex space-x-4">
                            <span sec:authorize="hasRole('USER')">
                                <a th:href="@{/web/EmployeeTasks/{projectId}(projectId=${proj.id}, employeeId=${employeeId})}">
                                    <button class="bg-white border-none">
                                        <i class="fa-solid fa-list-check text-yellow-400 text-xl hover:text-yellow-600 fa-xl"></i>
                                    </button>
                                </a>
                            </span>
                            <span sec:authorize="hasRole('USER')">
                                <a th:href="@{/posts/allPostsEmployee/{id}(id=${proj.id}, employeeId=${employeeId})}" class="icon">
                                    <i class="fa-regular fa-comment fa-xl text-yellow-400 text-xl hover:text-yellow-600 fa-xl"></i>
                                </a>
                            </span>
                        </td>
                        <td class="p-2 border border-gray-300">
                            <span sec:authorize="hasRole('USER')">
                                <a href="#" th:href="@{/web/showEmployeeProjectFiles/{id}(id=${proj.id}, employeeId=${employeeId})}" class="icon files-link">
                                    <i class="fa-solid fa-folder-open fa-xl text-yellow-400 fa-xl hover:text-yellow-600"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-full md:w-2/5 mt-8 hidden" id="filesContainer">
            <!-- Content from showtaskFiles.html will be loaded here -->
        </div>
    </div>
</div>

<!-- Popup Modals for Feedback -->
<div th:if="${fileUploaded}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
        <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{message.fileUploaded}">File uploaded successfully!</h2>
    </div>
</div>

<div th:if="${fileDeleted}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
        <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 th:text="#{message.fileDeleted}">File deleted successfully!</h2>
    </div>
</div>

<div th:replace="~{fragments/fragment1 :: footer}"></div>
<div th:replace="~{fragments/fragment2 :: split-view3}"></div>

</body>
</html>
