<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{message.tasksEmployee}">All Tasks</title>
    <div th:replace="~{fragments/fragment1 :: link}"></div>
    <link rel="stylesheet" href="/css/employeeProjects-Tasks.css">
</head>
<body>
<div class="container" style="max-width: 1600px">
    <h2 th:text="#{message.tasksEmployee}">All Tasks</h2>

    <div th:replace="~{fragments/fragment1 :: headerUser2}"></div>

    <div class="split-view">
        <div class="tasks-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thread-light">
                    <tr>
                        <th th:text="#{message.id}">ID</th>
                        <th th:text="#{message.name}">Name</th>
                        <th th:text="#{message.description}">Description</th>
                        <th th:text="#{allTasks.duration}">Duration</th>
                        <th th:text="#{message.status}">Status</th>
                        <th th:text="#{message.action}">Action</th>
                        <th th:text="#{message.files}">Files</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${#lists.isEmpty(tasks)}">
                        <td colspan="7" th:text="#{allTasks.noTasksFound}">No Tasks found.</td>
                    </tr>
                    <tr th:each="task : ${tasks}">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.durationInput}"></td>
                        <td th:text="${task.finished} ? 'Closed' : 'Open'"></td>
                        <td>
                             <span sec:authorize="hasRole('ADMIN') or hasRole('USER')">
                                <a th:href="@{/posts/allTasksPostsEmployee/{id}(id=${task.id}, employeeId=${employeeId})}" class="bounce-icon">
                                    <i class="fa-regular fa-comment fa-xl" style="color: #fecb01; margin-left: 5%;"></i>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span sec:authorize="hasRole('USER')">
                                <a href="#" th:href="@{/web/showEmployeeTaskFiles/{id}(id=${task.id}, employeeId=${employeeId})}" class="files-link">
                                     <i class="fa-solid fa-folder-open fa-xl" style="color: #fecb01;"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="files-container" id="filesContainer">

        </div>
    </div>

</div>

<div th:if="${fileUploaded}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <p th:text="#{message.fileUploaded}">File uploaded successfully!</p>
    </div>
</div>

<div th:if="${fileDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <p th:text="#{message.fileDeleted}">File deleted successfully!</p>
    </div>
</div>

<div th:replace="~{fragments/fragment1 :: footer}"></div>
<div th:replace="~{fragments/fragment2 :: split-view3}"></div>

</body>
</html>
