<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{message.projectsEmployee}">All Projects</title>
    <!-- Bootstrap CSS -->
    <div th:replace="~{fragments/fragment1 :: link}"></div>
    <link rel="stylesheet" href="/css/employeeProjects-Tasks.css">
</head>
<body>
<div class="container" style="max-width: 1600px">

    <h2 th:text="#{message.projectsEmployee}">All Projects</h2>
    <div th:replace="~{fragments/fragment1::headerUser1}"></div>
    <div class="split-view">
        <div class="tasks-container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th th:text="#{message.id}">ID</th>
                        <th th:text="#{message.name}">Name</th>
                        <th th:text="#{message.description}">Description</th>
                        <th th:text="#{allProjects.startDate}">Start Date</th>
                        <th th:text="#{allProjects.endDate}">End Date</th>
                        <th th:text="#{message.status}">Status</th>
                        <th th:text="#{message.action}">Action</th>
                        <th th:text="#{message.files}">Files</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Check if projects list is empty -->
                    <tr th:if="${#lists.isEmpty(projects)}">
                        <td colspan="7" th:text="#{message.ProjectsNotFound}">No Projects found.</td>
                    </tr>
                    <!-- Iterate over projects -->
                    <tr th:each="proj : ${projects}">
                        <td th:text="${proj.id}"></td>
                        <td th:text="${proj.name}"></td>
                        <td th:text="${proj.description}"></td>
                        <td th:text="${#temporals.format(proj.start, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(proj.end, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${proj.finished} ? 'Closed' : 'Open'"></td>
                        <td style="width: 97px">
                            <span sec:authorize="hasRole('USER')">
                                <a th:href="@{/web/EmployeeTasks/{projectId}(projectId=${proj.id}, employeeId=${employeeId})}" class="bounce-icon">
                                    <i class="fa-solid fa-list-check fa-xl" style="color: #fecb01; margin-left: 5%;"></i>
                                </a>
                            </span>
                            <span sec:authorize="hasRole('USER')">
                                <a th:href="@{/posts/allPostsEmployee/{id}(id=${proj.id}, employeeId=${employeeId})}" class="bounce-icon">
                                    <i class="fa-regular fa-comment fa-xl" style="color: #fecb01; margin-left: 5%;"></i>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span sec:authorize="hasRole('USER')">
                                <a href="#" th:href="@{/web/showEmployeeProjectFiles/{id}(id=${proj.id}, employeeId=${employeeId})}" class="files-link">
                                    <i class="fa-solid fa-folder-open fa-xl" style="color: #fecb01;"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="files-container" id="filesContainer">
            <!-- Content from showtaskFiles.html will be loaded here -->
        </div>
    </div>
</div>

<div th:if="${fileUploaded}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <p th:text="#{message.fileUploaded}">File uploaded successfully!</p>
    </div>
</div>

<div th:if="${fileDeleted}" class="popup" th:style="'display:block;'">
    <div class="popup-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <p th:text="#{message.fileDeleted}">File deleted successfully!</p>
    </div>
</div>

<div th:replace="~{fragments/fragment1 :: footer}"></div>
<div th:replace="~{fragments/fragment2 :: split-view3}"></div>

</body>
</html>

