<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>[[${title}]]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #333;
        }

        h2 {
           text-align:center;
           color: #333;
        }

        h3 {
          text-align:center;
          color: #333;


    </style>
</head>
<body>
<h2>Sorry, for the error bro</h2>
<h3>[[${message}]]</h3>
</body>
</html>