<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="#{infoEmployee.title}">Employee Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="font-roboto text-sm lg:text-lg">
<div class="container mx-auto max-w-full p-5">
    <h2 class="text-center text-2xl mb-4" th:text="#{infoEmployee.title}">Employee Information</h2>

    <div th:replace="~{fragments/fragment1 :: headerUser}"></div>

    <div class="flex  justify-between gap-4">
        <div class="w-full mx-auto md:w-3/5">
            <div class="relative p-4 bg-white border border-gray-300 rounded-md shadow-sm">
                <div class="absolute top-[-2rem] right-4">
                    <a th:href="@{/web/editInfoEmployee/{id}(id=${employeeId})}" class="icon files-link">
                        <i class="fa-solid fa-user-pen fa-xl text-yellow-400 hover:text-yellow-700"></i>
                    </a>
                </div>
                <form th:action="@{/web/editedInfoEmployee}" th:object="${employee}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{fullName}">
                    <input type="hidden" th:field="*{email}">
                    <input type="hidden" th:field="*{department.name}">
                    <input type="hidden" th:field="*{role}">

                    <div class="mb-4">
                        <label for="fullName" class="block text-gray-700" th:text="#{create.fullName}">Full Name:</label>
                        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md" id="fullName" th:field="*{fullName}" required disabled>
                    </div>

                    <div class="mb-4">
                        <label for="email" class="block text-gray-700" th:text="#{create.email}">Email:</label>
                        <input type="email" class="w-full px-3 py-2 border border-gray-300 rounded-md" id="email" th:field="*{email}" required disabled>
                    </div>

                    <div class="mb-4">
                        <label for="department" class="block text-gray-700" th:text="#{create.department}">Department:</label>
                        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md" id="department" th:value="${employee.department != null ? employee.department.name : 'N/A'}" disabled>
                    </div>

                    <div class="mb-4">
                        <label for="role" class="block text-gray-700" th:text="#{create.role}">Role:</label>
                        <input type="text" class="w-full px-3 py-2 border border-gray-300 rounded-md" id="role" th:value="${employee.role}" disabled>
                    </div>

                    <div class="mb-4">
                        <label for="skills" class="block text-gray-700" th:text="#{create.skills}">Skills:</label>
                        <ul id="skills" class="list-disc list-inside text-gray-700 w-full px-3 py-2 border border-gray-300 rounded-md">
                            <li th:each="skill : ${employee.skills}" th:text="${skill.name}"  ></li>
                        </ul>
                    </div>

                    <div class="mb-4">
                        <label for="projects" class="block text-gray-700" th:text="#{allEmployees.projects}">Projects:</label>
                        <div id="projects" class="text-gray-700">
                            <ul>
                                <li class="w-full px-3 py-2 border border-gray-300 rounded-md" th:each="project, projectStat : ${employee.projects}">
                                    <strong th:text="${projectStat.index + 1} + '. ' + ${project.name}"></strong>
                                    <ul class="ml-4">
                                        <li th:each="task, taskStat : ${tasks}" th:text=" ${taskStat.index + 1} + '. ' + ${task.name}" th:unless="${#lists.isEmpty(project.tasks)}"></li>
                                        <li th:if="${#lists.isEmpty(tasks)}" th:text="#{allEmployees.none}">None</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="w-full md:w-2/5 mt-8 hidden" id="filesContainer">
            <!-- Content for the files section will be loaded here -->
        </div>
    </div>

    <!-- Popup for employee updated -->
    <div th:if="${employeeUpdated}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-6 border border-gray-300 rounded-lg shadow-lg w-full max-w-lg text-center">
            <span class="text-gray-400 float-right text-2xl font-bold cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
            <p th:text="${messageEmployeeEditedSuccess}">Employee updated successfully!</p>
        </div>
    </div>

    <div th:replace="~{fragments/fragment1 :: footer}"></div>
    <div th:replace="~{fragments/fragment2 :: split-view3}"></div>
</div>

</body>
</html>
