<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/5b019c160d.js" crossorigin="anonymous"></script>
    <title>Show Files</title>
    <link rel="stylesheet" href="/css/showFiles.css">
</head>
<body>
<h2>Files for Task: <span th:text="${task.name}"></span></h2>

<div class="error-message" th:if="${not #strings.isEmpty(error)}">
    <p th:text="${error}" style="background: #EFC3CA; width: 29%;"></p>
</div>

<!-- Display uploaded files -->
<div class="upload-form">
    <form method="post" th:action="@{/web/upload/{taskId}(taskId=${task.id})}" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
    <!-- Display uploaded file names if available -->
    <div th:if="${not #lists.isEmpty(fileNames)}">
        <p>Uploaded Files:</p>
        <ul>
            <li th:each="file: ${task.files}" style="margin-bottom: 10px;">
                <span th:text="${file.fileName}"></span>
                <a th:href="@{/web/downloadFile/{taskId}/{fileName}(taskId=${task.id}, fileName=${file.fileName})}" style="margin-left: 15px;" >
                    <i class="fa-solid fa-download fa-xl" style="color: #74C0FC;"></i>
                </a>
                <a th:href="@{/web/viewFile/{taskId}/{fileName}(taskId=${task.id}, fileName=${file.fileName})}" style="margin-left: 15px;" target="_blank">
                    <i class="fa-solid fa-eye fa-xl" style="color: #28a745;"></i>
                </a>
                <!-- Form to delete file -->
                <form method="post"
                      th:if="${employeeFileMap.containsKey(file.id) || #authorization.expression('hasRole(''ADMIN'')')}"
                      th:action="@{/web/deleteFile/{taskId}/{fileId}(taskId=${task.id}, fileId=${file.id}, employeeId=${employee.id})}"
                      style="display:inline;">
                    <button  style="border: none;" class="bounce-icon" >
                        <i class="fa-solid fa-trash fa-xl" style="color: #ed0202;"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    let popup = document.getElementById("popup");
    function openPopup() {
        popup.classList.add("open-popup");
    }
    function closePopup() {
        popup.classList.remove("open-popup");
    }
</script>
</body>
</html>
