<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/fragment2::fontIcon}"></div>
    <title th:text="#{message.TasksFiles}">Files Task</title>
    <link rel="stylesheet" href="/css/showFiles.css">
</head>
<body>
<h2 th:text="#{message.TasksFiles}">Files Task: <span th:text="${task.name}"></span></h2>

<div class="error-message" th:if="${not #strings.isEmpty(error)}">
    <p th:text="${error}" style="background: #EFC3CA; width: 29%;"></p>
</div>

<!-- Display uploaded files -->
<div class="upload-form">
    <form method="post" th:action="@{/tasks/upload/{taskId}(taskId=${task.id})}" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload</button>
    </form>
    <!-- Display uploaded file names if available -->
    <div th:if="${not #lists.isEmpty(fileNames)}">
        <p th:text="#{message.UploadedFiles}">Uploaded Files:</p>
        <ul>
            <li th:each="file : ${task.files}" style="margin-bottom: 10px;">
                <span th:text="${file.fileName}"></span>
                <a th:href="@{/tasks/downloadFile/{taskId}/{fileName}(taskId=${task.id}, fileName=${file.fileName})}" style="margin-left: 15px;" >
                    <i class="fa-solid fa-download fa-xl, bounce-icon" style="color: #74C0FC;"></i>
                </a>
                <a th:href="@{/tasks/viewFile/{taskId}/{fileName}(taskId=${task.id}, fileName=${file.fileName})}" style="margin-left: 15px;" >
                    <i class="fa-solid fa-eye fa-xl, bounce-icon" style="color: #28a745;" ></i>
                </a>
                <!-- Form to delete file -->
                <form method="post" sec:authorize="hasRole('ADMIN')"
                      th:action="@{/tasks/deleteFile/{taskId}/{fileId}(taskId=${task.id}, fileId=${file.id})}"
                      style="display:inline;">
                    <button  style="border: none;" class="bounce-icon" >
                        <i class="fa-solid fa-trash fa-xl" style="color: #ed0202;"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
