<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="bg-gray-100 flex flex-col justify-center items-center min-h-screen">

<!-- Panel for Success Message -->
<div class="bg-white p-8 rounded-lg shadow-lg text-center max-w-md w-full">
    <h2 th:text="${message}" class="text-3xl font-semibold text-gray-800 mb-6">New user created</h2>
    <a href="/login" class="block w-full bg-yellow-400 text-black text-lg py-3 rounded-md hover:bg-yellow-700 hover:text-white focus:ring focus:ring-yellow-300 transition duration-300">
        Return to log in page
    </a>
</div>

<div th:replace="~{fragments/fragment1 :: footer}"></div>
</body>
</html>
