<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>User Information Form</title>
  <!-- Bootstrap CSS -->
  <div th:replace="~{fragments/fragment1 :: link}"></div>
  <link rel="stylesheet" th:href="@{/css/successLogin.css}">
</head>
<body>
<div th:replace="~{fragments/fragment1 :: header1}"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="panel text-center">
        <h2 th:text="${message}"></h2>
        <a class="btn btn-custom btn-block" th:href="@{/web/infoEmployee/{id}(id=${employeeId})}">Register Information</a>
        <a class="btn btn-custom btn-block" th:href="@{/web/EmployeeProjects/{id}(id=${employeeId})}">Assigned Projects</a>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragments/fragment1 :: footer}"></div>
</body>
</html>
