<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Menu</title>
    <div th:replace="~{fragments/fragment1 :: link}"></div>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="~{fragments/fragment1 :: header1}"></div>
<main>
    <div class="container max-w-lg lg:max-w-3xl  mx-auto mt-24">
        <div class=" flex flex-col mt-12 p-8 border-2 border-gray-300 rounded-lg bg-white shadow-lg text-center">
            <h2 class="text-2xl font-semibold" th:text="${message}">You logged in</h2>
            <a class="btn-menu"
               href="/web/allEmployees"
               th:text="#{message.menuEmployee}"></a>
            <a class="btn-menu"
               href="/web/allDepartments"
               th:text="#{message.menuDepartments}"></a>
            <a class=" btn-menu"
               href="/web/allSkills"
               th:text="#{message.menuSkills}"></a>
            <a class=" btn-menu"
               href="/projects/allProjects"
               th:text="#{message.menuProjects}"></a>
            <a class= "btn-menu"
               href="/customer/allCustomers"
               th:text="#{message.menuCustomers}"></a>
            <a class=" btn-menu"
               href="/resources/allResources"
               th:text="#{message.menuResources}"></a>
        </div>
    </div>
</main>
<div>
    <div th:replace="~{fragments/fragment1 :: footer}"></div>
</div>
</body>
</html>
