<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/fragment2::fontIcon}"></div>
    <title>View Post</title>
    <link rel="stylesheet" href="/css/viewPost.css">
</head>
<body>
<h1 th:text="${post.title}">Post Title</h1>
<div class="back-to-menu">
    <a th:href="@{/posts/allPosts/{id}(id=${projectId})}">
        <i class="fa-solid fa-arrow-left fa-2xl"></i>
    </a>
</div>
<div class="post-content" th:utext="${post.content}"></div>
</body>
</html>
